.footer-container{
  border: 3px solid green;
  display: flex;
  width: 80%;
  margin: 0 auto;
}


.footerIMG {
  border: 1px solid red;
  max-width: 20%;
  padding-right: 15%;
}

.footerIMG img {
  width: 100%;

}